 section.contact-us .icon-mail{
    color: var(--subtitle);
    margin-right: 1rem;
    font-size: 1.8rem;
 }
section.contact-us .title{
    font-size: 2.1rem;
    color: var(--title);
    margin-bottom: 1rem;
 }
 section.contact-us .subtitle{
    color: var(--subtitle);
    margin-bottom: 2rem;
    /* distance entre les lignes */
    line-height:1.6rem ;
 }
 section.contact-us  label{
    color: var(--subtitle);
 }
 section.contact-us #email , section.contact-us #message{
    all: unset;
    background-color: rgba(63,63,70,0.15);
    border: 1px solid rgb(63 63 70);
    width: 17rem;
    padding: 0.5rem 1rem;
    margin-left: 0.9rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1rem;
    color: var(--subtitle);
 }  
 /* lors je cliquer sur l'input le colleur de border changer */
 section.contact-us #email:focus , section.contact-us #message:focus{
border: 1px solid rgb(45 212 191);

 }
 section.contact-us #message{
    min-height: 9rem;
    resize: vertical;
 }
 section.contact-us .submit{
        background-color: rgba(36, 37, 46, 1);
        border: 1px solid rgb(63 63 70);
        padding: 0.75rem 2rem;
        text-align: center;
        font-size: 1.05rem;
        text-transform: capitalize;
        border-radius: 5px;
        transition: 0.3s;
        margin-top: 1.8rem;
 }
 section.contact-us .submit:hover{
    scale: 0.97;
 }
/* media */
 @media (max-width : 700px) {
    section.contact-us form{
        display: flex;
        flex-direction: column;
        width: 85%;
        
    }
    section.contact-us form div.flex{
        align-items: start;
        flex-direction: column;
    } 
    .animation{
        display: none;
    }
    section.contact-us #email , section.contact-us #message{
        width: 100%;
        margin-left: 0;
        padding: 0.5rem 0;
        margin-top: 1rem;
    }
    section.contact-us .submit{
     width: 30%;
     align-self: center;

    }
  }
